<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">My-Info</div>
            <p class="paragraph-text justify-text">
                안녕하십니까. 저는 김목종이고 현재 Front-End를 지망하고 있는 계명대학교 학생입니다. 저는 Dart(Flutter)를 통한 앱 개발 경험이 있으며, C와 C++같은 기본적인 언어 또한 가능합니다. 현재 Linux환경에서의 C와 Shell를 공부하고 있습니다.
            </p>
            <p class="paragraph-text justify-text">
               제 목표는 사람이 일생을 살아가며 수집되는 데이터들을 모아 이를 활용하여 한 사람이 평생에 걸쳐 사용하는 APP을 제작하는 것입니다.
            </p>
            <p class="paragraph-text justify-text">
                비록 아직 많은 경력은 없지만 다양한 활동을 통하여 빠르게 성장 가능한 학생이 되는것이 목표입니다.
            </p>
        </div>
    </section>
</div>
