<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캡스톤 및 논문</title>
    <style>
        .highlighted-text {
            font-size: 2em; /* 원하는 크기로 조정하세요 */
            color: white;
            font-weight: bold;
        }
        .text-content {
            color: white;
        }
    </style>
</head>
<body>
    <div class="section-wrapper">
        <section class="section" id="blog-posts">
            <div class="full-width">
                <div class="section-heading" id="recent-posts-text">캡스톤 및 논문</div>
                <a class="text-content">
                    <span class="highlighted-text">캡스톤 디자인</span><br>
                    <br>
                    대구시 여행 관광 ChatBot 기반 APP "가볼까?"<br><br>
                    개발언어 Front-End : Dart<br>
                    Back-End : Python<br>
                    Ai Model Running : Python<br>
                    <br>
                    
                    프레임워크 Front-End : Flutter<br>
                    Back-End : Django, postman<br>
                    Ai Model Running : TensorFlow<br>
                    <br>

                    수행 직무 : Front-End, Ai(일부)<br>
                    기여도(5인) : 35%<br><br>
                    데모 Video <br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4maYLFRCsOE?si=WcCQNCO3_MzT9DIj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </a>
            </div>
        </section>
    </div>
</body>
</html>
