<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캡스톤 및 논문</title>
    <style>
        .highlighted-text {
            font-size: 2em; /* 원하는 크기로 조정하세요 */
            color: rgb(255, 255, 255);
            font-weight: bold;
        }
        .text-content {
            color: rgb(255, 255, 255);
        }
    </style>
</head>
<body>
    <div class="section-wrapper">
        <section class="section" id="blog-posts">
            <div class="full-width">
                <div class="section-heading" id="recent-posts-text"></div>
                <a class="text-content">
                    <img src = 'https://github.com/rlaahrwhd/rlaahrwhd.github.io/assets/103015094/653b6a85-1c97-4ec6-9fa9-6f3a9972a16d'>
                    </a>
            </div>
        </section>
    </div>
</body>
</html>
