<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캡스톤 및 논문</title>
    <style>
        .highlighted-text {
            font-size: 2em; /* 원하는 크기로 조정하세요 */
            color: rgb(255, 255, 255);
            font-weight: bold;
        }
        .text-content {
            color: rgb(255, 255, 255);
        }
        .paper-title {
            font-size: 2em; /* 원하는 크기로 조정하세요 */
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="section-wrapper">
        <section class="section" id="blog-posts">
            <div class="full-width">
                <div class="section-heading" id="recent-posts-text"></div>
                <a class="text-content">
                    <span class="highlighted-text"></span><span class="paper-title">논문</span><br>
                    <br>
                    '앱 개발에서 LLM의 전문성 제고를 위한 LangChain 기술의 역할’<br><br>
                    논문 내용 :<br>
                    프로그램 앱 개발에서 사용한 AI모델을 통하여 어떠한 방식이 전문성을 높일 수 있는지 찾고, 그에 따른 답으로 LangChain 기술을 선택하여 해당 기술에 대한 작동방식과 얼만큼의 전문성이 향상되었는지 작성
                    <br>
                    <img src = 'https://github.com/rlaahrwhd/rlaahrwhd.github.io/assets/103015094/f2b9ae93-137c-4ba0-ad26-91c165c02b1d'>
                    
                </a>
            </div>
        </section>
    </div>
    
</body>
</html>
