<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">마치며</div>
            <p class="paragraph-text justify-text">
                저의 포트폴리오를 봐주셔서 감사합니다.
            </p>
            <p>
                질문사항이나 궁금한 점이 있다면 이메일로 연락부탁드립니다. : <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                <br>지금 Github.io는 Abhishek Nagekar님의 Thema를 소스로 사용하였습니다.
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
                
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
                </span>
                
        </div>
    </section>
</div>