
<section class="head" id="nav">
    <title>KMJ</title>
    <div class="head-inner-wrap">
        <div class="profile-pic-div animated">
            <a href="#about" class="profile-pic-link"><img src="{{ site.profile_picture }}" class="profile-pic"/></a>
        </div>
        <div class="head-name head-title animated" id="head-name">Kim MokJong</div>
        <div class="head-punchline animated">Front-End Engineer</div>
        <div class="head-menu-wrap">
            <a class="semi-transparent-button with-border nav-links" href="#about">My-Info</a>
            <a class="semi-transparent-button with-border nav-links" href="#skills">사용 언어</a>
            <a class="semi-transparent-button with-border nav-links" href="#projects">자격증</a>
            <a class="semi-transparent-button with-border nav-links" href="#blog-posts">공모전</a>
        </div>
    </div>
</section>
